<launch>

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
      <remap from="~goal" to="/goal"/>
      <param name="waypoint_type" value="manual"/>    
  </node>

  <node pkg="minimumsnap" type="trajectory_generator_node" name="trajectory_generator_node" output="screen" required = "true" >

      <remap from="~waypoints" to="/waypoint_generator/waypoints"/>
      <!-- <remap from="~odom"      to="UAV_odometry"/> -->
      <remap from="~joy"      to="/djiros/rc"/>
      <remap from="~polynomial_traj_coef"      to="polynomial_traj_coef"/>

      
      <param name="planning/vel"       value="0.25"  />
      <param name="planning/acc"       value="0.5"  />
      <param name="planning/dev_order" value="4"    />
      <param name="planning/min_order" value="3"    />
      <param name="vis/vis_traj_width" value="0.15" />

  </node>
  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find minimumsnap)/launch/test.rviz" />

  <!-- <node name="car_master" pkg="car_master" type="car_master">
      <remap from="~polynomial_traj_coef"      to="polynomial_traj_coef"/>
  </node> -->


</launch>
